<ul class="nav nav-tabs">
  {{#each tabKeys as |tabKey|}}
    {{#if (get details tabKey "length")}}
      <li class="nav-item">
        <a
          {{action "changeTab" tabKey}}
          class="nav-link {{if (eq activeTab tabKey) "active"}}"
          href="#"
        >
          {{get displayTabNames tabKey}}
        </a>
      </li>
    {{/if}}
  {{/each}}
</ul>
{{#each tabKeys as |tabKey|}}
  {{#if (eq activeTab tabKey)}}
    {{#each (get details tabKey) as |displayField|}}
      {{#if displayField.isTitle}}
        {{#if (and displayField.displayLink (or displayField.value displayField.label))}}
          <h1 class="p-title pl-{{displayField.indent}}">
            {{#if displayField.icon}}
              {{fa-icon displayField.icon fixedWidth=true}}
            {{/if}}
            <a
              class="p-link"
              href="{{displayField.displayLink}}"
            >
              {{#if displayField.capitalize}}
                {{capitalize (or displayField.label displayField.value)}}
              {{else}}
                {{or displayField.label displayField.value}}
              {{/if}}
            </a>
            {{fa-icon "external-link" class="p-link ml-1"}}
          </h1>
        {{else}}
          <h1>
            {{#if displayField.displayLink}}
              <a
                class="p-link"
                href="{{displayField.displayLink}}"
              >
                {{or displayField.label displayField.value}}
              </a>
            {{else}}
              {{or displayField.label displayField.value}}
            {{/if}}
            {{#if (and displayField.pathIsLinkToMoreData (not displayField.moreDataIsPopulated)) }}
              {{fa-icon "spinner-third" fixedWidth=true spin=true}}
            {{/if}}
          </h1>
        {{/if}}
      {{else if displayField.isTextBlock}}
        <div class="block p-key pl-{{displayField.indent}}">
          {{#if displayField.capitalize}}
            {{capitalize displayField.value}}
          {{else}}
            {{displayField.value}}
          {{/if}}
        </div>
      {{else}}
        <div class="pl-{{displayField.indent}}">
          <span class="p-key">{{displayField.label}}:</span>
          <span class="p-value">
            {{#if displayField.pathToOnePropertyFromMoreDataToDisplay}}
              {{fa-icon "spinner-third" fixedWidth=true spin=true}}
            {{else}}
              {{#if displayField.isDate}}
                {{moment-format displayField.value "MM/DD/YYYY HH:mm:ss" timeZone=timezone}}
              {{else if displayField.displayLink}}
                <a
                  class="p-link"
                  href="{{displayField.displayLink}}"
                >
                {{#if displayField.capitalize}}
                  {{capitalize displayField.value}}
                {{else}}
                  {{displayField.value}}
                {{/if}}
                </a>
              {{else}}
                {{#if displayField.capitalize}}
                  {{capitalize displayField.value}}
                {{else}}
                  {{displayField.value}}
                {{/if}}
              {{/if}}
            {{/if}}
          </span>
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
{{/each}}
